Estructuras de control

Ejercicio 1.0
Veamos como funcionan los ciclos while y a que se refiere con ejecución indefinida

MUCHO CUIDADO, NO EJECUTAR POR MUCHOS SEGUNDOS YA QUE PUEDE CONSUMIR TODA LA MEMORIA DISPONIBLE AL QUEDARSE IMPIMIENDO VALORES POR SIEMPRE

marca error ya que se detuvo la ejecución de forma forzada

In [ ]:
while True:
  print("Código en ejecución")

Ejercicio 1.1
Vimos que el ciclo while al quedar con un valor True se va a ejecutar permanentemente, esto quiere decir que mediante una lógica debemos controlar cuando queremos que pare.

Veamos un ejemplo donde una vez ingresemos nuestra contraseña el ciclo while se detenga, caso contrario nos siga pidiendo que la ingresemos bien

In [ ]:
passwordUsuario = "ab90s2"
passwordIngresada = input("Ingrese su contraseña: ")

while (passwordUsuario != passwordIngresada):
    print("La contraseña",passwordIngresada,"es incorrecta re intente por favor")
    passwordIngresada = input("Ingrese su contraseña nuevamente:")

Ingrese su contraseña: romina180
La contraseña romina180 es incorrecta re intente por favor
Ingrese su contraseña nuevamente:ab90s2

Ejercicio 1.2
Ahora vimos como deterner nuestro ciclo de forma manual, podemos hacer algo similar con números de forma automatica, incrementando el valor y que al llegar al deseado se detenga.

In [ ]:
numeroCicloWhite = 1
while numeroCicloWhite < 11 :
    print(numeroCicloWhite)
    numeroCicloWhite += 1

1
2
3
4
5
6
7
8
9
10

**while() with else**
Con while tambien podemos utilizar la palabra resevada else para definir que hacer una vez nuestro ciclo while deje de ejecutarse.

Ejercicio 1.3
Creemos un ciclo while que ahora pida el nombre de usuario, y una vez el nombre sea el adecuado le de la bienvenida

In [ ]:
nombreUsuario = "romina"
nombreIngresado = input("Ingrese su nombre: ")

while (nombreUsuario != nombreIngresado):
  print("El usuario",nombreIngresado,"es incorrecto re intente por favor")
  nombreIngresado = input("Ingrese su nombre nuevamente: ")
else:
  print("Bienvenida", nombreIngresado)

Ingrese su nombre: Maria
El usuario Maria es incorrecto re intente por favor
Ingrese su nombre nuevamente: macarena
El usuario macarena es incorrecto re intente por favor
Ingrese su nombre nuevamente: romina
Bienvenido/a romina

**while() with break**
break puede usarse para salir prematuramente de un bucle basado en una condición específica.

Ejercicio 1.4
En este caso utilizamos if para "disparar" nuestro break.

Nuestro ciclo while se va a ejecutar siempre que nuestro numero_entero sea menor que 10.

Pero si por alguna razon nuestro numero_entero es 5 queremos que se detenga de inmediato

In [ ]:
numeroEntero = 0

while numeroEntero < 10:
  print("El numero entero es:", numeroEntero)
  numeroEntero += 1
  if numeroEntero == 3:
    print("¡El numero entero llegó a 3, terminando el bucle!")
    break

El numero entero es: 0
El numero entero es: 1
El numero entero es: 2
¡El numero entero llegó a 3, terminando el bucle!

**while() with continue**
Asi como break termina nuestro ciclo de forma inmediata, continue hace que se salte a la siguiente iteración del ciclo de forma inmediata

Ejercicio 1.5
Ahora queremos que nuestro ciclo while cuando numero_entero sea igual a 5 no se imprima sino que salte a la siguiente iteración

In [ ]:
numeroEntero = 0

while numeroEntero < 10:
  numeroEntero += 1
  if numeroEntero == 5:
    continue #continue salta al siguiente ciclo
  print("Número:",numeroEntero)

Número: 1
Número: 2
Número: 3
Número: 4
Número: 6
Número: 7
Número: 8
Número: 9
Número: 10

**for()**
Los ciclos for() se utilizan para iterar sobre secuencias de elementos.

Ejercicio 1.6
Veamos un ejemplo donde recorramos cada una de las letras de un texto, y ademas vallamos contando el numero de letra y mostrando que caracter es el 1,2,3 etc...

In [ ]:
texto ="Este es un mensaje de python que contiene 55 caracteres"
numeroletra = 1

for letra in texto:
  mensaje = "La letra {} es {}".format(numeroletra,letra)
  print(mensaje)
  numeroletra += 1

La letra 1 es E
La letra 2 es s
La letra 3 es t
La letra 4 es e
La letra 5 es
La letra 6 es e
La letra 7 es s
La letra 8 es
La letra 9 es u
La letra 10 es n
La letra 11 es
La letra 12 es m
La letra 13 es e
La letra 14 es n
La letra 15 es s
La letra 16 es a
La letra 17 es j
La letra 18 es e
La letra 19 es
La letra 20 es d
La letra 21 es e
La letra 22 es
La letra 23 es p
La letra 24 es y
La letra 25 es t
La letra 26 es h
La letra 27 es o
La letra 28 es n
La letra 29 es
La letra 30 es q
La letra 31 es u
La letra 32 es e
La letra 33 es
La letra 34 es c
La letra 35 es o
La letra 36 es n
La letra 37 es t
La letra 38 es i
La letra 39 es e
La letra 40 es n
La letra 41 es e
La letra 42 es
La letra 43 es 5
La letra 44 es 5
La letra 45 es
La letra 46 es c
La letra 47 es a
La letra 48 es r
La letra 49 es a
La letra 50 es c
La letra 51 es t
La letra 52 es e
La letra 53 es r
La letra 54 es e
La letra 55 es s

**for in range()**
El bucle for in range() es una forma conveniente de iterar sobre una secuencia de números en un rango específico.

Nos permite ir pasando de un valor a otro.

Ejercicio 1.7
Creeemos un ciclo for in range que muestre todos los valores de 10 al 20

MUCHA ATENCIÓN VEMOS QUE EL VALOR FINAL ES NO INCLUSIVO

In [ ]:
for numero in range(10,20):
  print(numero)

10
11
12
13
14
15
16
17
18
19

Ejercicio 1.8
Una ventaja de los ciclos for es que podemos indicarle cada cuanto queremos que sean estos saltos

Creemos un código que muestre los primeros 6 numeros pares (sin incluir el cero)

In [ ]:
for valoresPares in range(2,14,2):
  print(valoresPares)

2
4
6
8
10
12

Ejercicio 1.9
Otra opcion es recorrer hacia atras.

Recorramos los numeros desde -5 hasta -15

In [ ]:
for numerosNegativos in range(-5, -16, -1):
  print(numerosNegativos)

-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15

**COLECCIONES DE DATOS**
En python ademas de los tipos de datos "normales" que ya vimos, existen las llamadas colecciones de datos. Las cuales son estructuras que contienen varios datos, hay de diferentes formas y son muy utiles.

list
Las listas se definen con [] y los valores se separan por ,

Las listas permiten guardar diferentes tipos de datos, en un solo objeto.

Ejercicio 2.0
Creemos diferentes listas algunas con string adentro, otras con int, o mezclados.

In [ ]:
listaNombres = ["romina", "andres", "maria"]
listaNumerica = [15, 6, 8.9, -5.5]
listaMezclada = ["azul", 1, False, "programar", 8.8]

Ejercicio 2.1
Un aspecto muy importante es que si queremos acceder a un valor de una lista podemos hacer mediante su numero de indice, es decir, la posición que toma su valor.

El primer elemento de una lista tiene un indice 0

In [ ]:
listaApellidos = ["gutierrez", "perez","muñoz","garcia"]

print("El 1er apellido de la lista tiene indice 0 y es:", listaApellidos[0])
print("El 3er apellido de la lista tiene indice 2 y es:", listaApellidos[2])

El 1er apellido de la lista tiene indice 0 y es: gutierrez
El 3er apellido de la lista tiene indice 2 y es: muñoz

**Acciones con listas**
Con las listas podemos utilizar las siguientes acciones

Append: Agrega un elemento al final de la lista, append()
Extend: Añade una lista a una lista preexistente, extend()
Insert: Agrega un elemento en el índice determinado, insert()
Pop: Elimina un elemento al final de la lista o en un índice específico, pop()
Remove: Elimina un elemento si consigue el elemento específico, remove()
Sort: Ordena la lista de menor a mayor, sort()
Reverse: Invierte el orden de la lista, reverse()

In [ ]:
miLista = []
# Agregamos elementos al final de la lista usando append()
miLista.append(1)
miLista.append("romina")
miLista.append(True)
miLista

[1, 'romina', True]

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
print(lista1)
#Añadimos lista2 a lista1 usando extend()
lista1.extend(lista2)
lista1

[1, 2, 3]

[1, 2, 3, 4, 5, 6]

In [ ]:
#insertamos un elemento en el índice 1
lista1.insert(1,4)
lista1

[4, 4, 4, 4, 4, 4, 4, 1, 4, 2, 3, 4, 5, 6]

In [ ]:
#Eliminamos el último elemento usando pop()
lista1.pop()
lista1

[4, 4, 4, 4, 4, 4, 4, 1, 4, 2, 3, 4, 5]

In [ ]:
#Eliminamos el elemento 4 de la lista
lista1.remove(4)
lista1

[1, 2, 3, 4, 5]

In [ ]:
#Creamos una lista desordenada
listaDesordenada = [3,1,4,2]
#Ordenamos la lista usando sort()
listaDesordenada.sort()
listaDesordenada

[1, 2, 3, 4]

In [ ]:
#Invertimos el orden de la lista usando reverse()
listaDesordenada.reverse()
listaDesordenada

[4, 3, 2, 1]

Ejercicio 2.2
Creemos 3 listas:

Una con 5 valores numericos
Una con 3 frutas
Una con los datos personales nombre, edad, condicion_booleana_es_profesor, lenguaje_de_programacion
Y utilicemos las siguientes acciones para listas con ejemplos:

append
extend
insert
pop
remove
sort
reverse

In [ ]:
listaValoresNumericos = [28, 20, -46, 10, 7]
listaFrutas = ["manzana", "banana", "pera"]
listaDatosPersonales = ["romina", 28, False, "python"]

type(listaDatosPersonales)

#Agregar un valor al final de la lista utilizando append
listaValoresNumericos.append(100)
listaValoresNumericos

# Extender la lista de frutas con otra lista
listaFrutas.extend(["uva", "kiwi"])
listaFrutas

#Insertar un elemento en una posición específica
listaFrutas.insert(2, "sandia")
listaFrutas

#Eliminar la primera ocurrencia de un elemento
listaFrutas.remove("kiwi")
listaFrutas

#Ordenar la lista de valores numéricos de forma ascendente
listaValoresNumericos.sort()
listaValoresNumericos

[-46, 7, 10, 20, 28, 100]

In [ ]:
listaFrutas.reverse()#"Revertir el orde la lista de frutas"
listaFrutas

['manzana', 'banana', 'sandia', 'pera', 'uva']

**len()**
Una función muy util y que debemos tener en cuenta es la función len la cual devuelve el tamaño o cantidad de valores en esta

In [ ]:
listaDe5Valores = ["Primer Valor", 2, True, "4to Valor", 5.0]
len(listaDe5Valores)

5

**tuple**
Las listas se definen con () y los valores se separan por ,

Las tuplas son muy parecidas a las listas, pero con una gran diferencia. Son inmutables, es decir, no pueden ser alteradas despues de su creación.

Una caracteristica de las tuplas es que permiten valores duplicados

Ejercicio 2.3
Veamos un ejemplo de tupla, donde vamos a poner 4 vehiculos. Y veremos que usando el indice podemos acceder a cada uno de los valores.

In [ ]:
tuplaVehiculos = ("auto", "moto", "camion", "bicicleta")

print("El 1er vehiculo de la lista tiene indice 0 y es:",tuplaVehiculos[0])
print("El 4to vehiculo de la lista tiene indice 3 y es:",tuplaVehiculos[3])

El 1er vehiculo de la lista tiene indice 0 y es: auto
El 4to vehiculo de la lista tiene indice 3 y es: bicicleta

In [ ]:
type(tuplaVehiculos)

tuple

**Acciones con tuplas**
Con las tuplas podemos realizar las siguientes acciones:

Count: Identifica cuántas veces existe un elemento dentro de la tupla, count()
Index: Devuelve el índice del elemento determinado, index()

Ejercicio 2.4
Creemos una tupla con verduras y veamos como usar count e index

In [ ]:
tuplaVerduras = ("acelga", "papa", "calabaza", "cebolla", "papa")

#Encontrar el indice de "calabaza" en la tupla
indiceDeCalabaza = tuplaVerduras.index("calabaza")
print("El índice de 'calabaza' es:", indiceDeCalabaza)

El índice de 'calabaza' es: 2

In [ ]:
# Contar cuántas veces aparece "papa" en la tupla
cantidadDePapa = tuplaVerduras.count("papa")
print("El número de veces que 'papa' aparece es:", cantidadDePapa)

El número de veces que 'papa' aparece es: 2

set
Los set de datos son similares a las tuplas ya que no permiten reordenar los valor.

Pero su principal diferencia es que no puede haber duplicados, en cambio, si permiten quitar y poner elementos

Ejercicio 2.5
El principal uso que vamos a darle a set es cuando tengamos muchos valores repetidos en una lista, y queramos tener un conjunto de datos con los valores únicos sin repetirse con el orden de aparición.

Creemos una lista con valores numéricos entre los cuales tengamos números repetidos, con set creemos un "set" de números únicos.

In [ ]:
listaValoresRepetidos = (87,31,2,2,3,3,1,5,4,3,23,23,12,9,8,99,11,56,26,23,71,15,124,8,1,3,1,9,49,1,5,1)
listaValoresRepetidos

(87,
 31,
 2,
 2,
 3,
 3,
 1,
 5,
 4,
 3,
 23,
 23,
 12,
 9,
 8,
 99,
 11,
 56,
 26,
 23,
 71,
 15,
 124,
 8,
 1,
 3,
 1,
 9,
 49,
 1,
 5,
 1)

In [ ]:
conjuntoUnicos = set(listaValoresRepetidos)#Con set convierto a mi lista a valores sin repetir

#imprimir los elementos únicos
print("Elementos únicos:",conjuntoUnicos)

Elementos únicos: {1, 2, 3, 4, 5, 8, 9, 11, 12, 15, 23, 26, 31, 49, 56, 71, 87, 99, 124}

In [ ]:
type(conjuntoUnicos)

set

dict()
Los diccionarios se definen con {} y los elementos se separan por , pero para separa la clave del valor usamos :

Los diccionarios tienen la caracteristica de guardar valores con un sistema de clave valor, es decir, voy a almacenar información pero esta va a tener un clave (como un nombre interno)

Ejercicio 2.6
Creemos un diccionario con informacion personal y veamos como acceder a un valor

In [ ]:
informacionRomina = {
    "nombre" : "Romina",
    "apellido": "Gutierrez",
    "edad": 28,
    "esProfesor": False ,
    "esAlumno":True
}

informacionRomina

{'nombre': 'Romina',
 'apellido': 'Gutierrez',
 'edad': 28,
 'esProfesor': False,
 'esAlumno': True}

In [ ]:
type(informacionRomina)

dict

Acciones con diccionarios
Get: Devuelve un elemento a través de su key, sino lo encuentra se le pueda dar un valor por default, get()
Keys: Devuelve todas las keys de un diccionario, keys()
Values: Devuelve todos los values de un diccionario, values()
Items: Devuelve todos los pares de key/values de un diccionario, items()
Pop: Elimina un elemento del diccionario a partir de su key, pop()
Clear: Elimina todos los elementos del diccionario, clear()

Ejercicio 2.7
Con la lista creada anteriores probemos a usar las diferentes acciones disponibles

In [ ]:
#Ejemplo de uso de get()
apellidoPersona = informacionRomina.get("apellido")
print("Apellido",apellidoPersona)

Apellido Gutierrez

In [ ]:
#Ejemplo de uso de get() con valor por default
telefonoPersona = informacionRomina.get("telefono", "No disponible")
print("Teléfono:", telefonoPersona)

Teléfono: No disponible

In [ ]:
#Ejemplos de uso de keys()
keysDiccionario = informacionRomina.keys()
print("Keys:",keysDiccionario)

Keys: dict_keys(['nombre', 'apellido', 'edad', 'esProfesor', 'esAlumno'])

In [ ]:
#Ejemplo de uso de values()
valuesDiccionario = informacionRomina.values()
print("Values:",valuesDiccionario)

Values: dict_values(['Romina', 'Gutierrez', 28, False, True])

In [ ]:
#Ejemplo de uso de items()
itemsDiccionario = informacionRomina.items()
print("Items:",itemsDiccionario)

Items: dict_items([('nombre', 'Romina'), ('apellido', 'Gutierrez'), ('edad', 28), ('esProfesor', False), ('esAlumno', True)])

In [ ]:
#Ejemplo de uso de clear()
informacionRomina.clear()
print("Diccionario después de clear:",informacionRomina)

Diccionario después de clear: {}